body {
	background-color: #F0FFEB ;
	width: 80% ;
	margin: auto ;
	min-width: 900px ;
}

header {
	background: #E8E9EB ;
	padding: 0 0 0 20px; 
	margin-top: 12px;
	height: 145px ;
	border: solid 2px green;
	border-radius: 0 0 0 40px ;
}

header a {
	text-decoration: none ;
}

header h1 {
	display: inline-block ;
	text-align: justify ;
	margin-left: 30px;
	width: 220px ;
}

article {
	background-color: #F0F0EB ;
	padding: 0 15px ;
	marging: 20px 0 ;
	border-radius: 15px ;
}

h1, h2, h3 {
	text-decoration: none ;
	color: #000080 ;
}
strong {
	color: #800000 ;
	font-weight: normal;
}

form {
	width: 50% ;
}

fieldset {
	border-radius: 15px ;
	border: solid 1px green ;
}

form ul {
	list-style-type: none ;
}

pre {
	font-size: 1.2em ;
}
